---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import PostCard from "@/components/posts/PostCard.astro";

const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout title="All Posts">
  <main class="flex flex-col gap-20">
    <h1 class="text-2xl text-neutral-100">Posts</h1>

    <article class="flex flex-col gap-4">
      {posts.filter((post) => post.data.isPublished).length === 0 && 
        <p>Soon, stay connected 👀...</p>
      }
      {posts
        .filter((post) => post.data.isPublished)
        .map((post) => (
          <PostCard 
            title={post.data.title}
            description={post.data.description}
            slug={post.slug}
            publishedAt={post.data.publishedAt}
            isPublished={post.data.isPublished}
          />
        ))}
    </article>
  </main>
</Layout>
