---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import CheatsheetCard from "@/components/cheatsheets/Card.astro";
import WalkthroughCard from "@/components/walkthroughs/Card.astro";
import Link from "@/components/shared/Link.astro";

const cheatsheets = (await getCollection("cheatsheets"))
.filter(c => Boolean(c.data.badgeLink) || Boolean(c.data.moduleLink))
.sort(function (first, second) {
  return second.data.completedAt.getTime() - first.data.completedAt.getTime();
});

const walkthroughs = (await getCollection("walkthroughs"))
  .filter(w => !Boolean(w.data.soon))
  .sort(function (first, second) {
  return second.data.releaseDate.getTime() - first.data.releaseDate.getTime();
});
---

<Layout>
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Latest cheatsheets</h3>
        <Link href="/security/cheatsheets" label="See all cheatsheets" isUnderline target="_self" />
      </header>
      {cheatsheets.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="grid gap-4 grid-cols-1 md:grid-cols-2">
        {
          cheatsheets.length !== 0 &&
          cheatsheets
              .slice(0, 2)
              .map((cheatsheet) => (
                <CheatsheetCard
                  completedOn={cheatsheet.data.completedAt}
                  title={cheatsheet.data.title}
                  description={`${cheatsheet.data.type} · ${cheatsheet.data.difficulty}`}
                  slug={cheatsheet.slug}
                />
              ))
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">
          Latest machines
        </h3>
        <Link href="/security/walkthroughs" label="See all walkthroughs" isUnderline target="_self" />
      </header>
      {walkthroughs.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="flex flex-col gap-4">
        {
          walkthroughs.length !== 0 &&
          walkthroughs
            .slice(0, 3)
            .map((walkthrough) => (
              <WalkthroughCard 
                title={walkthrough.data.title}
                difficulty={walkthrough.data.difficulty}
                slug={walkthrough.slug}
                isComingSoon={Boolean(walkthrough.data.soon)}
              />
            ))
        }
      </section>
    </article>

  </main>
</Layout>
