---
import { getCollection } from "astro:content";
import { Image } from "astro:assets"

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import ActivityCard from "@/components/activity/Card.astro";
import ProjectCard from "@/components/projects/Card.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import projects from "@/data/projects";

const log = (await getCollection("activity"))
.filter(entry => entry.data.publishedAt.getTime() <= new Date().getTime())  
.sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout>
  <main class="flex flex-col gap-20">
    <article
      class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-12"
    >
      {
        presentation.profile && (
          <div class="w-44 sm:w-1/4 self-center">
            <Image
            src={presentation.profile}
            class="w-full h-full rounded-full"
            alt="Your Profile"
            width="200"
            height="200"
            />
          </div>
        )
      }

      <div class="flex flex-col gap-8">
        <h1 class="text-3xl text-neutral-100">
          {presentation.title}
        </h1>

        <h2
          class="w-auto max-w-[60ch] leading-6"
          set:html={convertAsteriskToStrongTag(presentation.description)}
        />

        <SocialLinks />
      </div>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Latest activity</h3>
        <Link href="/activity" label="See all activity" isUnderline target="_self" />
      </header>
      {log.length === 0 && <p>Soon, stay connected 👀...</p>}

      <section class="grid gap-4 grid-cols-1 md:grid-cols-2">
        {
          log.length !== 0 &&
          log
              .filter((entry) => entry.data.isPublished) 
              .slice(0, 2)
              .map((entry) => (
                <ActivityCard
                  publishedAt={entry.data.publishedAt}
                  title={entry.data.title}
                  description={entry.data.description}
                  slug={entry.slug}
                  isPublished={entry.data.isPublished}
                  isDraft={entry.data.isDraft}
                />
              ))
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">
          Active projects ({projects.filter((project) => project.isDeployed).length})
        </h3>
        <Link href="/projects" label="See all projects" isUnderline target="_self" />
      </header>
      {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="flex flex-col gap-4">
        {
          projects.length !== 0 &&
            projects
              .filter((project) => project.isDeployed || project.isComingSoon)
              .sort((first, second) => {
                if (first.isDeployed && !second.isDeployed) {
                  return -1; // Mueve los proyectos desplegados hacia arriba
                } else if (!first.isDeployed && second.isDeployed) {
                  return 1; // Mueve los proyectos no desplegados hacia arriba
                } else {
                  return 0; // Mantén el orden actual
                }
              })
              .map((project) => <ProjectCard {...project} />)
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Get in touch</h3>
      </header>
      <p>
        Email me at <Link
          href={`mailto:${presentation.mail}`}
          label={presentation.mail}
        /> or follow me via my social links.
      </p>

      <SocialLinks />
    </article>
  </main>
</Layout>
