---
import { getCollection } from "astro:content";
import { Image } from "astro:assets"

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import PostCard from "@/components/PostCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import projects from "@/data/projects";

const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
const lines = [
"2023-12-08 15:30:45 | Firewall: SecuritySystemXYZ | Action: Blocked",
"Source IP: 192.168.1.100 | Destination IP: 203.0.113.5 | Protocol: TCP | Port: 22 | Reason: Suspicious SSH Connection",
"2023-12-08 15:32:12 | Firewall: SecuritySystemXYZ | Action: Allowed",
"Source IP: 10.0.0.5 | Destination IP: 198.51.100.21 | Protocol: UDP | Port: 500 | Reason: VPN Traffic",
"2023-12-08 15:35:27 | Firewall: SecuritySystemXYZ | Action: Blocked",
"Source IP: 192.168.1.200 | Destination IP: 203.0.113.8 | Protocol: ICMP | Port: N/A | Reason: Ping Flood",
"2023-12-08 15:40:09 | Firewall: SecuritySystemXYZ | Action: Blocked",
"Source IP: 192.168.1.75 | Destination IP: 203.0.113.12 | Protocol: TCP | Port: 445 | Reason: Attempted SMB Exploit",
"2023-12-08 15:42:55 | Firewall: SecuritySystemXYZ | Action: Allowed",
"Source IP: 10.0.0.10 | Destination IP: 198.51.100.15 | Protocol: TCP | Port: 80 | Reason: Web Browsing",
]
---

<Layout>
  <main class="flex flex-col gap-20">
    <article
      class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-12"
    >
      {
        presentation.profile && (
          <div class="w-44 sm:w-1/4 self-center">
            <Image
            src={presentation.profile}
            class="w-full h-full rounded-full"
            alt="Your Profile"
            width="200"
            height="200"
            />
          </div>
        )
      }

      <div class="flex flex-col gap-8">
        <h1 class="text-3xl text-neutral-100">
          {presentation.title}
        </h1>

        <h2
          class="w-auto max-w-[60ch] leading-6"
          set:html={convertAsteriskToStrongTag(presentation.description)}
        />

        <SocialLinks />
      </div>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Latest posts</h3>
        <Link href="/posts" label="See all posts" isUnderline target="_self" />
      </header>
      {posts.length === 0 && <p>Soon, stay connected 👀...</p>}

      <section class="grid gap-4 grid-cols-1 md:grid-cols-2">
        {
          posts.length !== 0 &&
            posts
              .slice(0, 2)
              .map((post) => (
                <PostCard
                  publishedAt={post.data.publishedAt}
                  title={post.data.title}
                  description={post.data.description}
                  slug={post.slug}
                  isPublish={post.data.isPublish}
                />
              ))
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
        <header class="flex w-full flex-row justify-between gap-2">
          <h3 class="text-lg text-neutral-100">
            Active projects ({projects.filter((project) => project.isDeployed).length})
          </h3>
          <Link href="/projects" label="See all projects" isUnderline target="_self" />
        </header>
      {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="flex flex-col gap-4">
        {
          projects.length !== 0 &&
            projects
              .filter((project) => project.isDeployed)
              .map((project) => <ProjectCard {...project} />)
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Get in touch</h3>
      </header>
      <p>
        Email me at <Link
          href={`mailto:${presentation.mail}`}
          label={presentation.mail}
        /> or follow me via my social links.
      </p>

      <SocialLinks />
    </article>
  </main>
</Layout>
