---
import "@fontsource/open-sans";
import Download from "@/components/Download.astro";
import BlurCircle from "@/components/shared/BlurCircle.astro";
import theme from "@/data/theme";
import "@/styles/resume.css";

type Props = {
  frontmatter: {
    title: string;
    description?: string;
  };
};

const { PDF_VIEW } = import.meta.env;

const { title, description } = Astro.props.frontmatter as Props["frontmatter"];

// Firstname Lastname -> ['H', 'T']
const initials = title
  .split(" ")
  .map(([initial]) => initial!.toUpperCase())
  .slice(0, 2);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description || title} />
    <meta name="robots" content="noindex" />
    <title>{title}</title>
  </head>
  <body class={!PDF_VIEW ? "bg-neutral-950 sm:my-14" : ""}>
    <BlurCircle position="top" color={theme.colors.blur.top} />
    <BlurCircle position="bottom" color={theme.colors.blur.bottom} />
    <div class="container mx-auto flex justify-center">
      <article id="cv" class="minimalist relative">
        <div
          class="absolute top-4 rounded-sm bg-indigo-400 px-4 py-1 sm:left-8 sm:top-12"
        >
          <div
            class="flex h-fit select-none flex-col items-center text-sm font-bold"
          >
            {initials.map((initial) => <span>{initial}</span>)}
          </div>
        </div>
        {
          !PDF_VIEW && (
            <div class="not-prose absolute right-4 top-4">
              <Download id="download-button" />
            </div>
          )
        }
        <slot />
      </article>
    </div>
    <style is:global>
      html {
        font-family: "Open Sans";
      }
    </style>
    <!-- Cloudflare Web Analytics -->
    <script
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "a5fd3371301a4b3389b954288167ace8"}'
      defer></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>

<script>
  import html2pdf from "html2pdf.js";

  const button = document.getElementById("download-button");

  button?.addEventListener("click", () => {
    var cv = document.getElementById("cv");
    html2pdf(cv);
  });
</script>
